# Arquivos do Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Banco de dados SQLite
db.sqlite3

# Configurações do ambiente virtual
venv/
env/
.venv/
.env

# Configuração do PyCharm
.idea/

# Configuração do VSCode
.vscode/

# Arquivos de logs e temporários
*.log
*.pot
*.py[co]

# Arquivos de migração (opcional, mas geralmente deixamos no controle de versão)
*/migrations/*.py
!*/migrations/__init__.py

# Arquivos de cache do Django
*.swp
*.swo
*.DS_Store

# Arquivos do sistema operacional
Thumbs.db
ehthumbs.db
